#content {
    top: 10.5vh;
    position: absolute;
    width: 100vw;
    left: 0;
    z-index: 100;
}

#personsgrid{
    top: 10.5vh;
    position: absolute;
    width: 100vw;
    left: 0;
}

.person{
    display: inline-block;
    width: 6vw;
    margin-left: 0.333vw;
    margin-right: 0.333vw;
    text-align: center;
    overflow: visible;
    vertical-align: top;
    text-decoration: none;
}

.person h4{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    background-color: #B5B8B1A3;
    border-radius: 8px;
}

.person img {
    width: calc(6vw - 2px);
    height: calc(6vw - 2px);
    object-fit: contain;
    border: 1px solid black;
    background-color: #B5B8B1;
    margin: 0;
    padding: 0;
}