@font-face {
    font-family: Bierstadt;
    src: url("/BIERSTADT.ttf");
}

html {
    max-width: 100vw;
    display: block;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Bierstadt, serif;
}

h1 {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

p {
    display: inline-block;
}

#idris-version {
    position: fixed;
    font-weight: bold;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    color: black;
    z-index: 100;
}

#idris-version:hover {
    color: white;
    background-color: #000000A4;
}

body{
    background-color: #9f0000;
    background-image: url("../images/background.svg");
    background-repeat: repeat;
}

#topnav {
    display: flex;
    margin: 0 0 1rem;
    background-color: #690000;
    position: fixed;
    height: 6.5rem;
    width: 100vw;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 64;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

#topnav #main {
    display: flex;
    text-align: left;
    align-items: center;
    padding: 0.25rem;
    margin-left: 1rem;
    margin-right: auto;
}

#topnav #main:hover {
    background: none;
}

#topnav #main h1 {
    margin: auto;
    text-decoration: none;
    color: #B5B8B1;
}

#topnav #main img{
    margin-left: 0.5rem;
    max-height: 5rem;
    position: relative;
    top: -0.5rem;
}

#topnav #password {
    margin-left: auto;
}

#topnav p, #topnav div {
    text-align: left;
    align-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    color: inherit;
    font-weight: bold;
}

#topnav input, #topnav select{
    font-size: 1.25rem;
}

#export {
    margin-right: 1rem;
}

#topnav a{
    color: #B5B8B1;
    text-decoration: none;
}

#topnav a:hover {
    background-color: deepskyblue;
    color: black;
    border-radius: 5px;
}