table{
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    font-size: large;
    text-align: left;
    vertical-align: top;
    color: black;
    border: 2px solid black;
    border-radius: 1rem;
}

.content {
    position: absolute;
    top: 7rem;
    max-width: 64%;
    margin: auto;
}

button {
    width: auto;
    max-width: 50%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    font-size: 2rem;
}

button i {
    font-style: normal;
}

button#delete {
    color: darkred;
    font-weight: bold;
}

thead{
    text-align: center;
    background-color: #690000;
    font-size: 2rem;
}

input, textarea, select {
    font-size: inherit;
    margin: 0.625rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 0.125rem;
    border-bottom-color: inherit;
    background-color: inherit;
    padding: 0.125rem;
    color: inherit;
    box-sizing: content-box;
}

tr:not(thead tr) input[type=text], tr input[type=date], tr textarea, tr select {
    min-width: 25rem;
}


th, td {
    border: 0;
    padding: 0.5rem 0.625rem 0.625rem;
}

tr {
    background-color: #690000;
    color: white;
    border-bottom-color: #B5B8B1;
    font-size: 1.5rem;
}

tr:nth-child(even) {
    background-color: #B5B8B1;
    color: black;
    border-bottom-color: #690000;
}

td i {
    margin-left: 1.25rem;
    margin-right: 0.625rem;
}

td div {
    display: inline-block;
}

.bi-phone {
    margin-left: 0.625rem;
}

.contact{
    text-align: center;
    text-decoration: none;
}

tr .contact input[type=text], tr .contact input[type=tel] {
    min-width: 14rem;

}

a {
    text-decoration: none;
    color: inherit;
}